<!DOCTYPE html>
<html>
<head>
    <title>Lista de Normativas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    {% include 'sidebar_menu.html' %}
    <h1>Lista de Normativas</h1>
    <ul>
        {% for normativa in object_list %}
            <li>
               {{ normativa.pk }}.<a href="{% url 'normativa_detail' normativa.pk %}"> {{ normativa.tipo }}</a>
                (<a class="a_editar" href="{% url 'normativa_edit' normativa.pk %}">editar</a> /
                <a  class="a_eliminar" href="{% url 'normativa_delete' normativa.pk %}">borrar</a>)
            </li>
        {% endfor %}
    </ul>

</html>
